$sfprodisplay: 'SFProDisplay';

// Default colors

$white: #ffffff ;
$black: #000000 ;

// Theme colors
$theme-red: #ff0000 ;
$theme-black: #3c3c3c ;
$theme-gray: #aaaaaa ;
$border-gray: #ebebeb ;
$table-gray: #7e7e7e ;
$notification-gray: #d5d5d5 ;
$head-black: #404040 ;
$theme-green: #52d301 ;
$theme-liteblue: #00d8ff ;
$theme-blue: #0076ff ;
$theme-yellow: #ffba00 ;
$theme-drgray: #5a5a5a ;
$breakpoint-alpha: 1100px; 
$placeholder:#aaaaaa;